#form {
	
}

#form h5 {
	display: inline;
}

#form h3 {
	margin: 0;
}

#form p {
	color: red;
	display: inline;
}

.form_row {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.form_col {
	float: left;
	height: 100%;
}

.form_col2 {

}

.form_info {
	background-color: #999999;
}

.form_abnorms {
	background-color: #999999;
}

.form_borderless {
	border: none;
}

.form_inline {
	display: inline;
}

.form_textbox {
	width: 125px;
	margin: 0 5px 5px 0;
}

.form_job_textbox {
	width: 610px;
}

.form_job_comments_textbox {
	width: 700px;
	margin-left: 16px;
}

.form_work_row {
	margin-bottom: 20px;
}

.form_statusbox {
	width: 84px;
}

.form_crew_rows {
	margin-left: 100px;
}

.form_crew_time_textbox {
	width: 60px;
}

.crew_total_time {
	margin-left: 116px;
}

.form_work_title {
	display: inline;
	margin-left: 16px;
}

.form_work_status {
	display: inline;
	margin-left: 564px;
}

.form_work_status_textbox {
	width: 80px;
}

.form_work_comment {
	margin-left: 16px;
}

#form_work_time_title {
	display: inline;
	margin-left: 60px;
}

#form_work_time_rev_title {
	display: inline;
	margin-left: 65px;
}

.form_crew_title {
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
}

.form_crew_rev_title {
	display: inline;
	margin-right: 25px;
	margin-left: 20px;
}

.form_crew_show_title {
	display: inline;
	margin-right: 30px;
	margin-left: 20px;
}

.form_abnorms_title {
	display: inline;
	margin-right: 64px;
	margin-left: 20px;
}

#form_abnorms_rev_workday_title {
	display: inline;
}

#form_abnorms_rev_comments_title {
	display: inline;
	margin-left: 70px;
}

#form_abnorms_comments_title {
	display: inline;
	margin-left: 34px;
}

#form_abnorms_status_title {
	display: inline;
	margin-left: 258px;
}

.form_abnorms_row {
	margin-bottom: 10px;
}

.form_echeckbox {
	margin-left: 16px;
}

#form_misc_category_title {
	display: inline;
	margin-left: 20px;
}

#form_misc_comments_title {
	display: inline;
	margin-left: 72px;
}

.form_misc_comments_textbox {
	width: 610px;
}

.form_job_add_button {
	float: left;
	margin-left: 16px;
}

.form_job_remove_button {
	display: none;
}

.form_crew_add_button {
	margin-left: 116px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.form_crew_remove_button {
	display: none;
	margin-left: 10px;
}

.form_abnorms_comments {
	width: 320px;
	margin: 0 5px 5px 0;
}

#form_comments {
	width: 100%;
	overflow: hidden;
	background-color: #999999;
}

#form_comments_box {
	width: 500px;
	height: 100px;
	resize: none;
	background-color: #999999;
}

#form_send_button_div {
	width: 100%;
	overflow: hidden;
}

#form_send_button {
	float: left;
	margin-right: 10px;
}
